{% extends 'base.html' %}
{% block content %}

<div class = "filter">
  <div class="p-1">Filters:</div>
  <input class="form-control" type="text" id="myInput0" onkeyup="myFilterFunction()" placeholder="Search by title..." title="Type in a name">
  <input class="form-control" type="text" id="myInput1" onkeyup="myFilterFunction()" placeholder="Search by description..." title="Type in a name">
  <input class="form-control" type="text" id="myInput2" onkeyup="myFilterFunction()" placeholder="Search by director..." title="Type in a name">
  <input class="form-control" type="text" id="myInput3" onkeyup="myFilterFunction()" placeholder="Search by release date..." title="Type in a name"> 
  
</div>
<div class="container-table">
  <div class="table-size">  
  <table class="table table-hover" id="table" data-show-header="true" data-pagination="true" data-id-field="name" data-page-list="[5, 10, 25, 50, 100, ALL]" data-page-size="25">
    <thead>
      <tr>
        <th data-field="title">Title</th>
        <th data-field="description">Description</th>
        <th data-field="director">Director</th>
        <th data-field="release_date">Release Date</th>
        <th data-field="score">Rating Score</th>
        <th data-field="people">Characters</th>
      </tr>
      
     
    </thead>
   <!-- <tbody></tbody>-->
  </table>
  </div>
  </div>
<div id="tbload"></div>
<footer class ="rdp">
  <div class="rodape">Sergio Castilho</div>
</footer>  
{% endblock %} 